<h1>Lista de verificación1</h1>
<!--  -->
<div *ngFor="let item of items">
  <input type="checkbox" [(ngModel)]="item.checked">
  <span
    [style.textDecoration]="item.checked?'line-through':'none'">
    {{item.description}}
  </span>
  <!--  -->
  <button (click)="removeItem(item)">Borrar</button>
</div>
  <p *ngIf="items.length < 1"> todavía no tiene elementos en la lista </p>

<hr><!-- #desc permite referenciar directamente los ejementos desde el template -->
<input #desc type='text' >

<!-- al hacer click llamas a additem pasandole el balor de desc y luego borras el campo -->
<button (click)="addItem(desc.value); desc.value=''">Agregar</button>
